* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

body {
  font-family: Roboto, system-ui, sans-serif;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  overflow: auto;
}

/* Main Container */
.main {
  background: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 500;
}

.nav-link {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
  margin-left: 15px;
}

.hero {
  margin: 80px 0;
  display: flex;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.description {
  font-size: 18px;
  color: #e5e7eb;
}

.button {
  display: inline-block;
  color: #f9faf8;
  font-weight: 500;
  background-color: #3882f6;
  text-decoration: none;
  border-radius: 8px;
  padding: 10px 20px;
  flex-basis: auto;
}

.banner {
  width: 500px;
  height: 250px;
  flex-shrink: 0;
}


/* Info Container */
.info {
  margin: 60px 0;
  color: #1f2937;
}

.info h2 {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.info-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 60px 0 60px;
}

.info-list li {
  width: min-content;
  text-align: center;
}

.info-list img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  border: 3px solid #3882f6;
}

/* Quote */
.quote {
  padding: 80px 0;
  background-color: #e5e7eb;
}

.quote .container {
  max-width: 780px;
}

.quote blockquote {
  font: italic 200 36px 'Roboto', sans-serif;
  color: #1f2937;
}

.quote p {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

/* Form */
.form {
  background-color: #f9faf8;
  color: #f9faf8;
  overflow: auto;
}

.form .container {
  margin: 80px auto;
  padding: 40px 80px;
  background-color: #3882f6;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.form button {
  color: #f9faf8;
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #f9faf8;
  padding: 7px 25px;
}

/* Footer */
.footer {
  background: #1f2937;
  font-size: 14px;
  color: #e5e7eb;
  text-align: center;
  padding: 40px 0;
}